@import url("//hello.myfonts.net/count/2aeaef");
@import url("webfonts.css");

/*******************************/
/**OHC body & container styles**/
/*******************************/

html,body {
	height:100%;
	min-height:100%;
}

body {
	background: #fafafa url("img/new_main.jpg") repeat-x center top;
	margin:0;
	padding:0;
	min-height:100%;
	text-align:center;
	font-family: 'MuseoSans-300', Arial, sans-serif;
	font-size:13px;
	color: #0A2C38;
}
#container {
	background:url("img/bg-page.png") repeat-y center top;
	min-width: 960px;
	padding:0px 5px 12px 5px;
	display: block;
	text-align: center;
	font-family: 'MuseoSans-300', Arial, sans-serif;
	font-size: 13 px;
	color: #1A7191;
	/*clear: both;*/
	}
.container{
	width: 960px;
	margin: 0px auto;
	text-align: left;
	position: relative;
	padding-left:1px;
	/*padding:0px 5px 12px 5px;*/
	display: block;
	/*clear: both;*/
}
.c1 {
	float:left;
	padding-left:20px;
	width:215px;
	clear:both;
}

.c2 {
	width:680px;
	float:right;
	padding-right:18px;
}

.columns-4 .column {
	float:left;
	width:23%;
	margin-right:2%;
}

/* Header Styles */

h1,h2,h3,h4,h5 {
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:0;
}
h1 {
	color:#006699;
	font-size:24px;
	margin:23px 0 0;
	height: 60px;
}

h2 {
	font-size:18px;
	margin:1em 0em 0em 11em;
	clear: both;
}

h3 {
	font-size:14px;
	color:#000000;
	margin:0 0 1em 0;
	clear:both;
}

h4 {
	color:#006699;
	margin:0 0 .5em 0;
	font-weight:normal;
	font-family:Georgia, Palatino,'Palatino Linotype', Times, 'Times New Roman', serif;
	clear:both;
}

p {
	margin:0 4em 1em 4em;
	line-height:1.5em;
	color:#383838;
	clear: both;
}

ul {
	list-style:none;
	margin:0;
	padding:0;
	line-height:1.5em;
}

a {
	color:#016390;
	text-decoration: none;
}

a:hover {
	color:#a41530;
}

a img {
	border:none;
}

.clear {clear:both;}

.image {
	position:relative;
}
.image img {
	display:block;
}

/*hr {
	background:url("img/bg-horizontal-line.png") no-repeat left center;
	height:12px;
	border:none;
	margin:0 0 22px 0;
	clear:both;
}*/
hr{
width: inherit;
}
/*********************/
/**OHC header styles**/
/*********************/

/*content-section class*/
.content-section img {
	border: 1px solid #E1E1E1;
    padding: 4px;
}

.content-section .item-slider img {
    border: none;
    padding: 0;
}

.content-section .content-block .item-slider img {
	margin:0;
	float:none;
}

.content-section .content-block .item-slider .image {
	border: 1px solid #E1E1E1;
    padding: 4px;
   }
/*content-primary div*/
#content-primary ul.slider-inner {
	margin:0;
	list-style:none;
}

#content-primary {
	line-height:1.5em;
}

#content-primary h1,
#content-primary h2,
#content-primary h3,
#content-primary h4 {
	line-height:normal;
	font-family: 'Cabrito-NorMed', Times, serif;
}

#content-primary ul {
	list-style:disc;
	margin:0 0 1.5em 1.5em;
	color:#333333;
}

#content-primary ul.social-media-links,
#content-primary ul.social-media-links-top,
#content-primary ul.department-list {
	list-style:none;
	margin:0 0 1.5em 0;
}

#content-primary ol {
	margin:0 0 1em 1.5em;
	padding:0;
	color:#333333;
}

#content-primary ol li {
	margin:0 0 .5em 0;
}

#content-primary ol li p {
	margin:1.5em 0 0 0;
}

.ImageAlignLeft {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}

.ImageAlignRight,
.faq dd img {
	float:right;
	margin-left:10px;
	margin-bottom:10px;
}

a.view {
	background:#016390;
	color:#ffffff;
	font-size:14px;
	padding:2px 7px;
	display:inline-block;
	text-decoration:none;
	text-transform:lowercase;
}

.input-text,
textarea,
.formTextBox {
	border:1px solid #cccccc;
	padding:3px;
	font-family:'Cabrito-NorMed', Calibri, 'Trebuchet MS', sans-serif;
	margin-right:5px;
	font-size:12px;
}

.input-text:focus,
textarea:focus,
.formTextBox:focus {
	border:1px solid #016390;
}

.submit,
.formSubmit a {
	background:#cccccc;
	font-family:'Cabrito-NorMed', Calibri, 'Trebuchet MS', sans-serif;
	font-size:12px;
	padding:3px 0;
	border:none;
	width:58px;
	text-transform:uppercase;
	cursor:pointer;
}

a.submit,
.formSubmit a {
	display:inline-block;
	padding:3px 8px;
	text-decoration:none;
	color:#000000;
	text-align:center;
}

.submit:hover {
	background:#bbbaba;
}

.required,
.form span.required {
	text-align:right;
	margin-bottom:.5em;
	font-style:italic;
	display:block;
	color:#333333;
}

#header{
	font-family: 'Cabrito-NorMed',
	Calibri, 'Trebuchet MS', sans-serif;
	height: 161px;
	clear: both;
	float: top;
	margin: 0 auto;
	position: relative;
}

#logo {
	position:absolute;
	top:6px;
	left: 15px;
	width:329px;
	height:66px;
	display: block;
}


#nav-utility ul li,
#nav-audience ul li {
	float:left;
}

#nav-utility a,
#nav-audience a {
	text-decoration:none;
}

/* Header Search Box*/

#search {
	position:absolute;
	right: 151px;
	top:14px;
}

#search label,
.faq-search label {
	margin-right:3px;
}

#search .input-text,
.faq-search .input-text {
	border:1px solid #cccccc;
	width: 115px;
	padding:3px;
	font-family:'Cabrito-NorMed', Calibri, 'Trebuchet MS', sans-serif;
	margin-right:5px;
	font-size:12px;
}

#search .input-text:focus,
.faq-search .input-text:focus {
	border:1px solid #016390;
}

#search .submit-button,
.faq-search .submit-button {
	background:#cccccc;
	font-family:'Cabrito-NorMed', Calibri, 'Trebuchet MS', sans-serif;
	font-size:12px;
	padding:3px 0;
	border:none;
	width:58px;
	text-transform:uppercase;
	cursor:pointer;
	height: 25px;
}

#search a.submit-button {
	padding: 4px 7px;
	color:#000000;
	text-decoration:none;
}

#search .submit-button:hover,
.faq-search .submit-button:hover {
	background:#bbbaba;
}

.faq dd img {
	border: 1px solid #E1E1E1;
    padding: 4px;
}

/* Quick Links */

#quick-links {
	width: 97px;
	font-family:'Cabrito-NorMed', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 13px;
	position:absolute;
	top: 48px;
	right:20px;
	padding:3px;
}

/* Quick Link Nav */

#nav-quicklinks {
	position:absolute;
	top:50px;
	right: 123px;
}

#nav-quicklinks li {
	float:left;
	margin-left:6px;
}

#nav-quicklinks li a {
	width:53px;
	padding:2px;
	background:#578b32;
	color:#FFF;
	text-transform:uppercase;
	font-size:12px;
	display:block;
	text-align:center;
	text-decoration:none;
	border:1px solid #d6d6d6;
}

#nav-quicklinks li a:hover {
	background:#a8cb4f;
}

#nav-quicklinks li#nav-join a {
	background:#269acd;
}

#nav-quicklinks li#nav-join a:hover {
	background:#1A7191;
}

#nav-quicklinks li#nav-shop a {
	background:#ff6633;
}

#nav-quicklinks li#nav-shop a:hover {
	background:#b34935;
}

/* Utility Navigation */

#nav-utility {
	position:absolute;
	top:93px;
	left: 158px;
	font-size:20px;
}

#nav-utility li {
	border-right:2px solid #458dae;
	margin-right:10px;
	padding-right:10px;
}

#nav-utility li.last-child {
	border:none;
}

/* Audience Navigation */

#nav-audience {
	position:absolute;
	right:58px;
	top:99px;
	font-size:14px;	
	padding-left:53px;
	background:url('img/bg-i-am-small.png') no-repeat left 5px;
}

#nav-audience li {
	margin-left:10px;
	padding-left:10px;
	border-left:1px solid #458dae;
}

#nav-audience li.first-child {
	border:none;
}

/* Main Navigation Drop Down Menus */

#nav-main {
	background: #3f9acb;
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	display:table;
	text-align:center;
	width:960px;
	z-index: 901;
	padding-left: 1px;
}

#nav-main ul {
	display:table-row;
}

#nav-main li {
 display:table-cell;
}

#nav-main a {
	color:#ffffff;
	height:32px;
	vertical-align:center;
	color:#ffffff;
	text-decoration:none;
	line-height:32px;
	font-size: 12px;
	display:block;
	font-family:'MuseoSans-500', Calibri, 'Trebuchet MS', sans-serif;
}

#nav-main li a.active {
	color:#5eb0e5;
}

#nav-main li:hover a {
	background:#ffffff;
	color:#312a21;
}

#nav-main li:hover ul li a {
	background:none;
}

#nav-main ul ul li {
	display:block;
	float:left;
	width:210px;
	margin-right:20px;
	font-size:12px;
	text-align:left;
	font-family:Georgia, Palatino,'Palatino Linotype', Times, 'Times New Roman', serif;
	padding:5px 0;
}

#nav-main ul ul li a {
	color:#000000;
	display:block;
	margin:0;
	line-height:normal;
	height:auto;
}
#nav-main ul ul li a:hover {
	color:#5eb0e5;
}

#nav-main ul ul ul li a {
	margin:0;
	text-decoration:underline;
}

#nav-main ul ul ul li {
	float:none;
	width:auto;
	margin:0 0 .5em 0;
	font-size:12px;
	padding:0;
}

#nav-main ul li .level1 {
	background:url("img/bg-dropdown-bottom.png") no-repeat left bottom;
	position:absolute;
	top:28px;
	left:10px;
	width:938px;
	z-index:9;
	padding-bottom:25px;
	display:none;
}

#nav-main ul li .level1 a {height:auto;}

#nav-main ul li .level1 .level1-inner {
	background:url("img/bg-dropdown-top.png") no-repeat left top;/*Aug 22- could not find*/
	overflow:hidden;
	padding-right:20px;
}

#nav-main ul li .level1 .level1-inner .featured-image {
	float:right;
	margin-top:13px;
}

#nav-main ul li .level1 .level1-inner .featured-image img {
	display:block;
}

#nav-main li .level1 ul {
	float:left;
	width:480px;
	padding:40px 0 40px 40px;
}

#nav-main ul ul {
	display:block;
	float:left;
}

#nav-main li .level1 .level2 ul {
	display:block;
	background:none;
	width:auto;
	padding:0;
}

/* Social Media Links */

.social-media-links li {
	float:left;
	margin-right:4px;
}
.social-media-links-top li {
	float: right;
	margin-right: 4px;
}

.social-media-links a {
	display:block;
	width: 27px;
	height: 26px;
	text-indent:-9999px;
	overflow:hidden;
}
.social-media-links-top a {
	display:block;
	width: 27px;
	height: 26px;
	text-indent:-9999px;
	overflow:hidden;
}

.social-media-links li#facebook a {
	background:url(img/socialMediaIcons-Footer.png) no-repeat left top;	
}

.social-media-links li#twitter a {
	background: url(img/socialMediaIcons-Footer.png) no-repeat -27px top;	
}

.social-media-links li#youtube a {
	background: url(img/socialMediaIcons-Footer.png) no-repeat -55px top;	
}

.social-media-links li#enews a {
	background: url(img/socialMediaIcons-Footer.png) no-repeat -82px top;	
}

.social-media-links-top li#enews-top a {
	background:url(img/socialMediaIcons-top.png) no-repeat left top;
	position:absolute;
	top:14px;
	right: 112px;	
}

.social-media-links-top li#facebook-top a {
	background: url(img/socialMediaIcons-top.png) no-repeat -28px top;
	position:absolute;
	top:14px;
	right: 80px;	
}

.social-media-links-top li#twitter-top a {
	background: url(img/socialMediaIcons-top.png) no-repeat -54px top;
	position:absolute;
	top:14px;
	right: 50px;		
}

.social-media-links-top li#youtube-top a {
	background: url(img/socialMediaIcons-top.png) no-repeat -82px top;
	position:absolute;
	top:14px;
	right:20px;		
}
/*****************************************************/

/**********/
/* Footer */
/**********/
#footer {
	background:url("img/bg-footer-bottom.png") no-repeat left bottom;
	padding-bottom:6px;
	clear: both;
	margin: 0 auto;
}
#footer .container {
	background:#f8f5ee;
	overflow:hidden;
}

#footer div.footer-nav {
	margin:20px 0 26px 30px;
	padding-right:26px;
	float:left;
	background:url("img/bg-footer-divider.png") repeat-y right top;
	min-height:210px;
}

#footer div#footer-nav-3 {
	background:none;
}

#footer div.footer-nav ul li {
	margin:0 0 .3em 0;
}

#footer div.footer-nav a {
	color:#000000;
	text-decoration:none;
}

#footer div.footer-nav a:hover {
	text-decoration:underline;
}

#footer a.logo-footer  {
	position:absolute;
	top:50%;
	right:102px;
	margin-top:-41px;
}

#footer div.footer-nav ul.social-media-links li {
	margin:14px 4px 0 0;
}
/********************************************/


/* Inner Template */

.template-inner #content {
}

.template-inner #content-primary {
	background:url("img/bg-content-inner.jpg") no-repeat left 80px;
    padding-left: 24px;
    padding-right: 0;
    width: 710px;
    min-height:500px;
}

#content-secondary {
	background:url("img/bg-secondary.gif") no-repeat left 80px;
	padding-left:0;
	width:226px;
	clear:none;
	min-height:500px;
}

.template-inner .nav-header {
	color:#993333;
	padding-top:24px;
	padding-bottom:22px;
	padding-left:21px;
	font-size:18px;
}

.nav-secondary {
	padding-left: 20px;
	margin-bottom:40px;
}
/***********/
/*Side Nav */
/***********/

#nav-secondary,
#nav-directory {
	padding-top:30px;
	padding-left: 20px;
	font-size:12px;
}

#nav-secondary .level2 {
	display:none;
}

#nav-secondary li {
	display:none;
}

#nav-secondary li {
	display:block;
	font-size:12px;
	line-height:1.2em;
}

.template-audience #nav-secondary li a {
	height:73px;
}

#current a:hover,
#nav-secondary li a:hover {
	color:#016390;
}

#current a {
	color:#000000;
	padding:0;
	margin:0;
	height:auto;
	line-height:normal;
}
#current{
	display:block;
	color: #993333;
	font-size: 18px;
}

#current a {
	height:auto;
}

#nav-secondary li,
#nav-directory li {
	margin:0 0 18px 0;
}

#nav-secondary a,
#nav-directory a {
	text-decoration:none;
	color:#000000;
}
#current a {
	color: #993333;
	height:73px;
	display:block;
	line-height:1.2em;
	font-size:18px;
}

.template-audience #nav-secondary li a {
	background:url("img/bg-i-am-large.png") no-repeat left 2px;
	width:500px;
	height:17px;
	margin-right:9px;
	padding-left:89px;
}

.template-audience #nav-secondary li a {
	background:none;
	width:auto;
	margin:0;
	height:auto;
	margin-right:0;
	padding-left:0;

}

#nav-secondary a:hover,
#nav-directory a:hover {
	color:#016390;
}

.navlinks a{
	clear: both;
	text-align: center;
	text-decoration: none;
	font-size:15px;
	color:#F8F8FF;
}
a.navlinks:link{
	color:#F8F8FF;
}
a.navlinks:visited{
	color:#F8F8FF;
}
a.navlinks:hover{
	color:#312a21;
}

/*********************************/
/**Content divs under OHC header**/
/*********************************/

div.jGrowl div.validation {
	background-color: #808080;
	width: 200px;
	min-height: 0px;
	border: 1px solid #000;
}
div.jGrowl div.resultsAlerts {
	background-color: #808080;
	width: 200px;
	min-height: 0px;
	border: 1px solid #000;
}
#maincontent{
clear: both;
display: block;
}
.maincontent{
	/*from .items-highlighted*/
	clear: both;
	background:url("img/bg-items-highlighted.png") no-repeat right top;
	float:left;
	width:730px;
	padding-left: 65px;
    padding-top: 30px;
}

#endmaincontent{
	background:url("img/bg-items-highlighted-bottom.png") no-repeat right top;
	float: left;
	height: 72px;
	width: 757px;
    padding-top: 30px;
	clear: both;
	margin-bottom: -3em;
}

#heading {
	margin-top: 18px;
	margin-bottom: -2em;
	margin-right: auto;
	margin-left: auto;
	text-align:center;
	font-size:200%;padding:20px;
	font-family:'Cabrito-NorMed', Calibri, 'Trebuchet MS', sans-serif;
	position: inherit;
	clear: both;
}

#instructions{
clear: both;
float:bottom;
padding: 30px;
margin: 0 auto;
}
#altinstructions{
clear: both;
float:bottom;
padding: 10px 20px;
margin: 0 auto;
position: inherit;
text-align: center;
}
/**Local Nav Menu For Under Title
(No More Than 3 Links)**/
#localnav{
clear: both;
float:bottom;
padding: 0;
position: inherit;
text-align: center;
width: 500px;
height: 32px;
display: table;
padding-left: 1px;
}
#localnav ul {
	display:table-row;
}
#localnav li {
 display:table-cell;
 border-bottom: solid;
 border-top: solid;
}
#localnav a {
	height:32px;
	vertical-align:center;
	text-decoration:none;
	line-height:32px;
	font-size: 12px;
	display:block;
	font-family:'MuseoSans-500', Calibri, 'Trebuchet MS', sans-serif;
}
#localnav li a.active {
	color:#5eb0e5;
}

#localnav li:hover a {
	color:#ffffff;
	background:#3f9acb;
}

#localnav li:hover ul li a {
	background:none;
}
.pagination{
display: block;
clear: both;
float:bottom;
padding: 10px 20px;
padding-left: 60px;
margin: 0 auto;
position: inherit;
text-align: center;

}
.pagination .page{
display: none;
}
.pagination li{
display: inline;
}

#pagedisplay{
display: block;
clear: both;
float:bottom;
position: inherit;
padding: 10px 20px 10px 20px;
width: 500px;
margin: 0 auto;
text-align: left;
}

#endcontainer{
	background:url("img/bg-page-bottom.png") no-repeat center top;
	min-height: 14px;
	position: inherit;
	clear: both;
	margin: 0 auto;
}

/**Paginate**/
#paging-section {
	margin:1em 29em 0em 14em;
	clear: both;	
}
	
.paginate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
}

.paginate a{
	border: 1px solid #000080;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	color: #000080;
}

.paginate a:hover {
	background-color: #000080;
	color: #FFF;
	text-decoration: underline;
}

span.inactive {
	border: 1px solid #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .7em;
	padding: 2px 6px 2px 6px;
	color: #999;
	cursor: default;
}
